html {
  background-color: #0F0A0A;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: #0F0A0A;
}

#header {
  margin-top: 64pt;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex: 1;
  background-color: #7B2D26;
  color: #F0F3F5;
  font-weight: 800;
  border-top-left-radius: 32pt;
  border-top-right-radius: 32pt;
}

#wrapper {
  flex: 3;
  background-color: #F0F3F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 32pt 0 32pt 0;
  border-bottom-left-radius: 32pt;
  border-bottom-right-radius: 32pt;
}

#content-wrap {
  width: 50%;
}

#inputs input {
  width: 100%;
}

#options textarea {
  width: 100%;
  height: 100pt;
}

footer {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: #F0F3F5;
}
